@media (min-width: 961px){
    body{
        padding-left: 10rem;
        padding-right: 10rem;
    }

  
    #image #leftRow, #image #rightRow{
       display: none;
    }

    #image #leftRowBlue, #image #rightRowBlue{
        display: block;
    }
    
    #form{
        float: left; 
        margin-left: 1rem;
    }

    form{
        width: 85%;
        margin: 0 auto;
    }

}

@media (min-width: 1200px){
    body{
        padding-left: 20rem;
        padding-right: 20rem;
    }
}
