@media (min-width: 961px){
    body{
        padding-left: 4rem;
        padding-right: 4rem;
    }

    #image{
        padding-left: 10rem;
        padding-right: 10rem;
    }
  
    #image #leftRow, #image #rightRow{
       display: none;
    }

    #image #leftRowBlue, #image #rightRowBlue{
        display: block;
        width: 16rem;
    }

    #image #leftRowBlue{
        margin-left: 1rem;
    }

    #image #rightRowBlue{
        margin-right: 1rem;
    }

    #whatsapp{
        margin-top: 5rem;
    }
    
    #form{
        float: left; 
        margin-left: 1rem;
    }

    form{
        width: 85%;
        margin: 0 auto;
    }

}

@media (min-width: 1200px){
    body{
        padding-left: 20rem;
        padding-right: 20rem;
    }
}
