/*
1. Posicionamiento.
2. Box models.
3. Tipografía.
4. Visuales.
5. Others.
*/

:root{
    /*Colors*/
    --blue: #1EB8D8;
    --yellow: #FCE040;
    --green: #94C11F;
    --pink: #EB5B5E;
    --brown: #936037;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos generales______________________________________________________________________*/

html{
    font-family: 'Segoe UI', 'historic';
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
        width: 100vw;
        height: auto;
        min-width: 360px;
        max-width: 1330px;
}

header, main, footer{
    font-size: 2rem;
}

header{
    display: flex;
    grid-area: header;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    color: white;
}

#logo-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
    padding-top: 0.5rem;
}


/*Estilos del header____________________________________________________________________*/

#logo-header img{
    width: 10rem;
}

#title-subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
    padding-right: 0.5rem;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 62%;
    padding: 0.5rem;
}

#title h1{
    text-align: center;
    font-family: 'Segoe UI', 'historic';
    font-size: 1.8rem;
    color: var(--green);
    font-weight: bold;
}

#subtitle{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 38%;
    padding-bottom: 1.5rem;
}

#subtitle h2{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    padding-right: 1rem;
    font-size: 1.5rem;
    color: var(--brown);
    font-weight: bold;
    text-align: right;
}


/*Estilos del main______________________________________________________________________*/
/*Estilos de la(s) imagen(es) principal*/
#image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

#image img{
    width: 100%;
}

#image #activeImage{
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#image #leftRow, #image #rightRow, #image #leftRowBlue, #image #rightRowBlue{
    position: absolute;
    top: 127;
    width: 8rem;
    opacity: 0.3;
    cursor: pointer;
}

#leftRow, #leftRowBlue{
    left: 0;
}

#rightRow, #rightRowBlue{
    right: 0;
   
}

#leftRowBlue, #rightRowBlue{
    display: none;
}

#leftRowBlue:hover{
    background-color: #D5D8DC;
}

#rightRowBlue:hover{
    background-color: #D5D8DC;
}

#image #leftRow:hover{
    opacity: 1;
} 

#image #rightRow:hover{
    opacity: 1;
}

/*Estilos del texto del contenido*/
#benefits{
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 2rem 1.2rem;
    border: 0.2rem solid #ccc;
}

#benefits h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#benefits h3{
    text-align: left;
    font-size: 1.8rem;
    /* margin-bottom: 1rem; */
}

#benefits p{
    font-size: 1.6rem;
    text-align: justify;
}

p b{
    font-style: italic;
}

.benefits-subtitle{
    margin-top: 1rem;
}

#map-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
}

#map-container iframe{
    width: 100%;
    height: 40rem;
}

#benefits img{
    width: 2.5rem;
    cursor: pointer;
}

/*Estilos del formulario*/
#form{
    width: 100%;
    height: auto;
    color: black;
    padding: 2rem 1.2rem;
}

form{
    padding: 2rem 1rem;
    border: 1px solid #333;
}

#form h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

input[type=text],
input[type=number],
input[type=email],
select
{
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    padding-left: 1rem;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
select
{
  background: var(--pink);
  color: #ffffff;
}

label{
    width: 100%;
    display: block;
    font-size: 1.3rem;
}

form textarea{
    width: 100%;
    height: 13rem;
    resize: none;
}

#submit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
   }

input[type=submit]{
   padding: 1rem 8rem 1rem 8rem;
   cursor: pointer;
   font-size: 1.5rem;
   background-color: var(--blue);
   font-weight: bold;
   border-radius: 0.5rem;
}

input[type=submit]:hover { 
    box-shadow: 6px 6px rgba(0, 0, 0, 0.2) inset;
    color: #ffffff;
    transition: all 0.4s;
}

#required{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/*Estilos del footer__________________________________________________________________*/
/*Estilos de las redes sociales*/
#social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    padding: 1.5rem 1rem 1rem 1rem;
}

footer > p{
    color: #000000;
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem;
}

#social-media article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}

#social-media img{
    width: 3.8rem;
    cursor: pointer;
}

#contact-information{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 2rem;
    flex-direction: column;
}

#contact-information p{
    text-align: center;
    margin-bottom: 0.7rem;
}

#credits{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#credits small{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 0.5rem;
}

main section{
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#whatsapp{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 2rem;
}

#whatsapp img{
    margin-right: 0.5rem;
}

#whatsapp-link{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--blue);
    cursor: pointer;
}

#additional-info{
    margin-top: 1.2rem;
    text-align: center;
    font-size: 2rem;
}

#additional-info p{
    font-size: 1.8rem;
    text-align: justify;
}

#error{
    font-size: 1.4rem;
    margin-top: 1rem;
    color: red;
}

footer #social-media{
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1rem;
}

footer #contact-information{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.7rem 1rem 1rem 1rem;
    background-color: var(--blue);
}

footer #credits{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 1rem 1rem;
    background-color: var(--blue);
}

footer hr{
    color: white;
}

#social-media img:hover{ 
    width: 4.5rem;
    transition: all 0.3s;
}




@media (min-width: 560px){
    #subtitle{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-right: 1rem;
    }
}





